<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
<div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-center text-white">
                <h3>BATCH REQUEST FOR TEACHER : [[${session.userOb.displayName}]]</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr class="bg-info text-white">
                    	<th> </th>
                        <th>DATE</th>
                        <th>STUDENT</th>
                        <th>STATUS</th>
                    </tr>
                	<tr th:each="ob,i:${list}">
                		<td>[[${i.count}]]</td>
                    	<td>[[${ob.institute.date}]]</td>
                    	<td>[[${ob.student.firstName +' '+ob.student.lastName}]]</td>
                    	<td>
                    	  	[[${ob.status}]]  
                    	</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>